.header {
    display: grid;
    grid-template-columns: 1fr .7fr;
    grid-gap: 40px;
    align-items: center;
}

.header h2 {
    font-size: 3em;
}

.header h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background: #454432;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}

.btn:hover {
    background: #353425;
}